.wrapper {
  height: 600px;
  width: 800px;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: antiquewhite;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

.screen-container {
  position: absolute;
  width: 5000px;
  height: 3000px;
}

.board {
  position: absolute;
  top: 80px;
  left: 50%;
  top: 50%;
  width: 160px;
  height: 200px;
  margin-left: -80px;
  transform-origin: 50% 0;
  background-color: cadetblue;
}
